.card-label {
  width: 9rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0.5rem 0.5rem 0;
  background-image: linear-gradient(270deg, #ffffffff 94%, #000000ff);
}