.card-label {
  align-items: center;
  background-color: white;
  background-image: linear-gradient(270deg, #ffffffff 94%, #000000ff);
  border-radius: 0 0.5rem 0.5rem 0;
  color: black;
  display: flex;
  justify-content: center;
  width: 9rem;
  text-align: center;
}

.card-label > p {
  margin-left: 0.5rem;
}
