.deletable-entry select:hover {
  color: red;
}

.deletable-entry p:hover {
  color: red;
  cursor: default;
}

.deletable-entry label:hover {
  color: red;
  cursor: default;
}

.edit-item-portal fieldset {
  margin-left: 0.5rem;
}
