.fieldset-div {
  max-height: 8rem;
  overflow-y: scroll;
}

.fieldset-div input:focus:not(:read-only){
  border-right: 7px solid salmon;
  border-radius: 1px;
  outline: none;
  transition: all 0.15s;
}

.input-group {
  margin-bottom: 0.5rem;
}

.title-input {
  margin-bottom: 0.25rem;
}

.single-input {
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 1280px) {
  .fieldset-div {
    max-height: 12rem;
    overflow-y: scroll;
  }
}
