.palette-portal {
  background-color: #2708083c;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.first-colour {
  border-radius: 0.5rem 0 0 0.5rem;
}

.last-colour {
  border-radius: 0 0.5rem 0.5rem 0;
}

.colour-class {
  width: 4.5rem;
  height: 4.5rem;
  border: 5px solid white;
  transition: all ease 0.1s;
}

.colour-class:hover {
  border: 5px solid black;
  transition: all ease 0.1s;
}