.toogle-button {
  background-color: #454a48;
  display: flex;
  width: 16%;
  align-items: center;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
}
.toogle-button.clicked {
  background-image: linear-gradient(to right, #454a48, salmon);
}

.toogle-button input {
  appearance: none;
}
