.toogle-button {
  background-color: var(--input-colour-1);
  display: flex;
  width: 16%;
  align-items: center;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
  overflow-x: clip;
  text-wrap: nowrap;
}
.toogle-button.clicked {
  background-image: linear-gradient(
    to right,
    var(--input-colour-1),
    var(--input-colour-2)
  );
}

.toogle-button input {
  appearance: none;
}
