.about-footer-pre {
  align-items: center;
  background-color: #080d0acd;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  transform: translateY(100%);
  transition: all 3s;
  width: 100%;
}

.about-footer-pos {
  animation-name: enter-up;
  animation-duration: 1s;
  align-items: center;
  background-color: #080d0acd;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  width: 100%;
}

.about-in {
  animation-name: opacity-in;
  animation-duration: 1s;
  opacity: 1;
}

.about-nav-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.about-nav-pre {
  background-color: #080d0acd;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transform: translateY(-100%);
  transition: all 3s;
  width: 100%;
}

.about-nav-pos {
  animation-name: enter-down;
  animation-duration: 1s;
  background-color: #080d0acd;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  transition: all 1s;
  width: 100%;
}

.about-out {
  animation-name: opacity-out;
  animation-duration: 1s;
  opacity: 0;
}

.about-portal {
  align-items: center;
  background-image: url("/public/squareRoom3.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.about-portal path {
  fill: #fff;
}

.about-portal svg {
  transition: all 0.5s;
}

.enter-down {
  animation-name: enter-down;
  animation-duration: 5s;
}

.enter-up {
  animation-name: enter-up;
  animation-duration: 5s;
}

.footer-contact {
  display: flex;
  width: 18%;
  justify-content: space-between;
}

.footer-colabs {
  display: flex;
  width: 27%;
  justify-content: space-between;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.svg-button {
	background-color: #0a0b107f;
	border-bottom: solid 5px #080d0acd;
	border-radius: 5px;
	border-top: solid 5px #080d0acd;
	border-left: solid 5px #080d0acd;
	border-right: solid 5px #080d0acd;
	transition: all 0.25s ease-in-out;
}

.svg-button-active {
  border-bottom: solid 5px white;
  background-color: #0a0b107f;
  border-top: solid 5px white;
  border-left: solid 5px #080d0acd;
  border-right: solid 5px #080d0acd;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.svg-button:active path {
  fill: #870D5A;
}

.svg-button:hover {
  border-bottom: solid 5px white;
  transition: all 0.25s ease-in-out;
}

@keyframes leave-up {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes enter-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes enter-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}