.no-tickets-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.no-tickets-header > p {
  color: var(--input-colour-1);
  font-size: 3rem;
}
