.no-tickets-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.no-tickets-header > p {
  color: var(--input-colour-1);
  font-size: 3rem;
}

.pre-show-card {
  background-color: #b9b9baff;
  border-radius: 0.5rem;
  color: black;
  cursor: default;
  display: flex;
  font-family: ibm-semibold;
  font-size: 0.9rem;
  height: 8rem;
  min-width: 0;
  overflow: clip;
  padding: 0.5rem;
  text-align: start;
  text-wrap: nowrap;
}

.pre-show-card-selected {
  color: black;
  cursor: default;
  display: flex;
  font-family: ibm-semibold;
  font-size: 0.9rem;
  height: 8rem;
  min-width: 0;
  text-align: start;
  text-wrap: nowrap;
  position: relative;
}

.pre-show-card:hover {
  background-color: white;
}

.tickets-div {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin: 0 1rem;
  max-height: 42rem;
  overflow-y: scroll;
}

.overflow-container {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  height: fit-content;
  padding: 0.5rem;
  width: fit-content;
}

.overflow-container path {
  fill: black;
}

.seventh-element {
  direction: rtl;
}

.seventh-element > div {
  direction: ltr;
}

.ticket-icons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 0.5rem;
}

.ticket-icons .ticket-close {
  align-items: center;
  border: 1.4px solid black;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.1rem;
  transform: rotate(45deg);
  width: 1.5rem;
}

.ticket-icons > button {
  border-radius: 100rem;
  margin-bottom: 1.5rem;
}

.ticket-icons > button:hover {
  background-color: black;
}

.ticket-icons > button:hover path {
  fill: white;
}
