.no-tickets-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.no-tickets-header > p {
  color: var(--input-colour-1);
  font-size: 3rem;
}

.search-input::placeholder {
  color: var(--input-colour-1);
}

.search-input {
  background-color: var(--main-colour-2);
  border: solid 1px var(--input-colour-1);
  border-radius: 0.5rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0 1rem;
  width: 97%;
}

.search-input:focus {
  background-color: var(--input-colour-1);
  outline: none;
}
