@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #ffffffff;
  color-scheme: light dark;
  display: flex;
  font-family: queensides-normal;
  font-synthesis: none;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  height: 100vh;
}

.options-cards {
  align-content: start;
  background-color: var(--main-colour-1);
  background-image: var(--bg-image, none);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
}

html {
  font-size: 12px;
}

@font-face {
  font-family: ibm-semibold;
  src: url("../public/IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: queensides-normal;
  src: url("../public/Queensides.ttf");
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

:root {
  --main-colour-1: #977f33ff;
  --main-colour-2: #1f1612ff;
  --input-colour-1: #454a48ff;
  --input-colour-2: #d5b639ff;
  --button-colour-1: #828d51ff;
  --button-colour-2: #a5860fff;
  --warning-colour-1: #f7df44ff;
  --background-colour-1: #999999ff;
  --background-colour-2: #e6e6e6ff;
  --tooltip-colour-1: #1c0310ff;
  --hover-colour-1: #45eaf7ff;
  --close-colour-1: #db3356ff;
  --highlight-colour-1: #b5baf7ff;
  --bg-image: url("/public/kot-rooms.png");
}
