@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #ffffffff;
  color-scheme: light dark;
  display: flex;
  font-family: queensides-normal;
  font-synthesis: none;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  height: 100vh;
}

.options-cards {
  align-content: start;
  background-blend-mode: hard-light;
  background-color: #977f33ff;
  background-image: url("/public/kot-rooms.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
}

html {
  font-size: 12px;
}

@font-face {
  font-family: ibm-semibold;
  src: url("../public/IBMPlexMono-SemiBold.ttf");
}

@font-face {
  font-family: queensides-normal;
  src: url("../public/Queensides.ttf");
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}